[submodule "ghost/core/content/themes/casper"]
	path = ghost/core/content/themes/casper
	url = ../../TryGhost/Casper.git
	ignore = all
[submodule "ghost/core/content/themes/source"]
	path = ghost/core/content/themes/source
	url = ../../TryGhost/Source.git
	ignore = all
[submodule "ghost/core/content/themes/mevkh-theme"]
	path = ghost/core/content/themes/mevkh-theme
	url = https://github.com/sithamet/mevkh-theme.git
	ignore = all
